bcr_api
asgiref==3.7.2
flask==2.3.2
google-api-python-client==2.100.0
google-auth==2.23.3
google-auth-oauthlib==1.0.0
google-cloud-bigquery==3.25.0
google-cloud-bigquery-storage==2.24.0
gunicorn==20.1.0
pydata-google-auth==1.8.2
pytest==7.4.2
pytest-mock==3.11.1
pytest-cov==4.1.0
python-dotenv==1.0.0
sqlalchemy==1.4.49
sqlalchemy-bigquery==1.10.0
requests==2.31.0
pandas==2.1.1
numpy==1.26.0
