.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

.table th, .table td {
    border: 1px solid var(--border);
    padding: 0.75rem;
    text-align: left;
}

.table th {
    background-color: var(--bb-blue);
    color: white;
    font-weight: bold;
    text-align: center;
}

.table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table tr:hover {
    background-color: #f1f1f1;
}

.table td.text-center {
    text-align: center;
}

.table td.actions-cell {
    text-align: center;
    vertical-align: middle;
    width: 150px;
}

.table .btn-action-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
