{% extends "base.html" %}

{% block title %}Ingestão de Dados{% endblock %}

{% block header_title %}Ingestão de Alertas - Geração de emails{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <div class="card small-card form-card">
            <div class="card-header">
                <h2>Gerar email</h2>
            </div>
            <div class="card-content">
                <form id="ingestForm" class="form">
                    <div class="form-group">
                        <label for="start_row" class="label">Número da linha da<a href="https://docs.google.com/spreadsheets/d/1yOD6bD_Syyv-zo5CtYXlCGMaWHIR12gUNzW1Zb7klbs/">Planilha</a></label>
                        <input
                            type="number"
                            id="start_row"
                            name="start_row"
                            required
                            class="input"
                            min="2"
                        >
                    </div>
                    <button type="submit" class="btn btn-primary" id="submitBtn">
                        Gerar email
                    </button>
                </form>
            </div>
        </div>

        <div id="emailPreviewCard" class="card" style="margin-top: 20px; display: none;">
            <div class="card-header card-header-with-actions">
                <h2 id="previewTitle">Preview do Email</h2>
                <button id="sendEmailBtnHeader" type="button" class="btn btn-secondary btn-card-action" disabled>
                    Enviar email
                </button>
            </div>
            <div class="card-content card-content-no-padding" id="emailPreviewContainer"></div>
        </div>

        {% include '_email_confirm_modal.html' %}
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/ingestion.js') }}"></script>
    <script src="{{ url_for('static', filename='js/email_confirm.js') }}"></script>
{% endblock %}
